spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ls-12b069f9be837c913770257e6d5e728e88f77354.c3s4uu2w8zlp.ap-northeast-2.rds.amazonaws.com:3306/sayai?characterEncoding=UTF-8&serverTimezone=UTC
    username: gari_sayai
    password: Ng[h6T}Gzk4q]H^Q{ZOCoi<.N^4q6X;u
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: false
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true