<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Fantasy League - Trade Room</title>
    <link rel="stylesheet" th:href="@{/css/fantasy.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="fantasy-header">
            <h1>Trade Room</h1>
        </div>

        <div th:replace="fragments/fantasy-nav :: nav(active='trade')"></div>

        <div class="fantasy-card" style="text-align: center; padding: 50px;">
            <h2>Coming Soon</h2>
            <p>Trading functionality is currently under development.</p>
        </div>
    </div>
</div>
</body>
</html>
